/* styles.css */

/* Reset default styles and set a base font */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(45deg, #004d98, #c8102e);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}

header img {
    max-width: 80%;
    height: 4rem;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background: repeating-linear-gradient(45deg, #004d98, #004d98 30px, #c8102e 30px, #c8102e 60px);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    margin-bottom: 15px;
    color: #004d98;
    font-weight: bold;
}

/* Heading and paragraph styles */
h2, h3, p {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
    color: #004d98;
}

/* Table styles */
table {
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
}

/* Input styles */
input {
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #004d98;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

/* Submit button styles */
input[type="submit"] {
    background-color: #c8102e;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #a50044;
}

/* Link styles */
a {
    text-decoration: none;
    color: #004d98;
    margin-top: 40px;
}

a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error-message {
    color: #e74c3c;
    margin-top: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: linear-gradient(45deg, #004d98, #c8102e);
    color: #ffffff;
    border-top-left-radius: 50% 20px;
    border-top-right-radius: 50% 20px;
}

/* Navigation styles */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 15px;
    display: flex;
}

li {
    margin: 0 20px;
}

/* Link styles within navigation */
.home-link,
.register-link {
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #004d98;
    border-radius: 25px;
    color: #ffffff;
    background-color: #004d98;
    transition: background-color 0.3s, color 0.3s;
}

.home-link:hover,
.register-link:hover {
    background-color: #00274e;
    color: #ffffff;
}
